<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <title>File Manager</title>
  </head>
  <body>
    <div id="app" class="flex h-screen w-screen bg-gray-600 text-white">

      <!-- Sidebar Toggle -->
      <input type="checkbox" class="toggle peer hidden" id="toggleSidebar">
      <label for="toggleSidebar" class="show-sidebar peer-checked:hidden block lg:hidden fixed top-4 right-4 px-2 py-1 bg-gray-900 text-white cursor-pointer">
        Menu
      </label>
      <label for="toggleSidebar" class="hide-sidebar peer-checked:block hidden lg:hidden fixed bg-gray-800 bg-opacity-70 h-screen w-screen text-white cursor-pointer z-40">
        <!-- Empty label to capture clicks on the background -->
      </label>

      <!-- Sidebar -->
      <aside id="sidebar" class="sidebar peer-checked:block hidden lg:block lg:w-72 w-64 bg-gray-900 text-white p-4 fixed h-screen overflow-y-auto inset-y-0 left-0 z-50">
        <!-- Title -->
        <h1 class="text-2xl font-bold mb-4">File Manager</h1>

        <!-- Menu -->
        <h2 class="text-xl font-bold mb-2 border-b-2 border-gray-600 pb-2">Menu</h2>
        <ul class="mb-4">
          <li class="mb-2">
            <a href="#" class="text-white hover:underline">Home</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-white hover:underline">Documents</a>
          </li>
          <li class="mb-2">
            <ul class="ml-4">
              <li class="mb-2">
                <a href="#" class="text-white hover:underline">Subfolder 1</a>
              </li>
              <li class="mb-2">
                <a href="#" class="text-white hover:underline">Subfolder 2</a>
              </li>
            </ul>
          </li>
          <li class="mb-2">
            <a href="#" class="text-white hover:underline">Images</a>
          </li>
        </ul>

        <!-- Setting -->
        <h2 class="text-xl font-bold mb-2 border-b-2 border-gray-600 pb-2">Settings</h2>
        This settings are saved in browser localStorage.
        <!-- User Form -->
        <div class="user-form mt-4 bottom-2">
          <label for="username" class="block text-white mb-2">Username:</label>
          <input type="text" v-model="username" class="bg-gray-700 text-white p-2 rounded w-full mb-4 form-input">
          <label for="password" class="block text-white mb-2">Password:</label>
          <input type="password" v-model="password" class="bg-gray-700 text-white p-2 rounded w-full mb-4 form-input">
          <button class="login-btn bg-blue-500 text-white px-4 py-2 rounded cursor-pointer">Login</button>
          <span class="ml-2">requesting...</span>
        </div>
      </aside>

      <!-- Main Content -->
      <main class="flex-1 p-4 lg:ml-80 w-80 main-content">
        <div class="h-screen overflow-y-auto">

          <!-- header -->
          <h2 class="text-2xl font-bold mb-4 lg:hidden">File Manager</h2>
          <div class="volume-dropdown mb-4">
            <div class="volume-header flex justify-between mb-1">
              <label for="volumeSelect" class="block text-white align-baseline mt-4">Select Disk Volume:</label>
              <div class="refresh-button flex justify-end">
                <button class="bg-green-500 text-white px-4 py-2 rounded">Refresh</button>
              </div>
            </div>
            <select id="volumeSelect" class="bg-gray-700 text-white rounded w-full">
              <option value="volume1">Volume 1</option>
              <option value="volume2">Volume 2</option>
            </select>
          </div>

          <!-- action buttons -->
          <div class="flex gap-2 justify-end mb-2">
            <button class="bg-blue-500 text-white px-4 py-2 rounded">Action 1</button>
            <button class="bg-yellow-500 text-white px-4 py-2 rounded">Action 2</button>
            <button class="bg-red-500 text-white px-4 py-2 rounded">Action 3</button>
          </div>

          <!-- file lists -->
          <div class="file-list bg-gray-600 odd:bg-gray-500 border-t">
            <div class="file flex justify-between items-center py-4 border-b border-gray-400 hover:bg-gray-400">
              <span>Document1.txt</span>
              <div class="file-actions flex gap-4">
                <button class="bg-blue-500 text-white px-4 py-2 rounded">Edit</button>
                <button class="bg-red-500 text-white px-4 py-2 rounded">Delete</button>
              </div>
            </div>
            <div class="file flex justify-between items-center py-4 border-b border-gray-400 hover:bg-gray-400">
              <span>Image.jpg</span>
              <div class="file-actions flex gap-4">
                <button class="bg-blue-500 text-white px-4 py-2 rounded">Edit</button>
                <button class="bg-red-500 text-white px-4 py-2 rounded">Delete</button>
              </div>
            </div>
          </div>

          <!-- Debug area -->
          <h2 class="text-2xl font-bold mt-8 mb-4">Debug area</h2>
          <div class="w-full">
            <div class="flex gap-2">
              <button class="bg-green-500 text-white px-4 py-2 rounded" @click="getData('/posts/1')">GET</button>
              <button class="bg-green-500 text-white px-4 py-2 rounded" @click="postSample('/posts')">POST</button>
              <button class="bg-green-500 text-white px-4 py-2 rounded" @click="patchSample('/posts/1')">PATCH</button>
              <button class="bg-green-500 text-white px-4 py-2 rounded" @click="deleteData('/posts/1')">DELETE</button>
            </div>
            <h3 class="text-xl">Method</h3>
            {{ debug.method }}
            <h3 class="text-xl">Endpoint</h3>
            {{ debug.endpoint }}
            <h3 class="text-xl">Header</h3>
            <pre class="overflow-x-auto">{{ debug.header }}</pre>
            <h3 class="text-xl">Body</h3>
            <pre class="w-full overflow-x-scroll">{{ debug.body }}</pre>
            <h3 class="text-xl">Response</h3>
            <pre class="w-full overflow-x-scroll">{{ debug.response }}</pre>
          </div>

      </main>
    </div>

    <script>
     const app = Vue.createApp({
       data() {
         return {
           username: 'username',
           password: 'password',
           baseurl: 'https://jsonplaceholder.typicode.com',
           debug: {
             method: 'not yet',
             endpoint: 'not yet',
             header: 'not yet',
             body: 'not yet',
             response: 'not yet'
           }
         };
       },
       methods: {
         async postSample(endpoint){
           const data = { title: 'foo', body: 'bar', userId: 1 };
           return await this.postData(endpoint, data)
         },
         async patchSample(endpoint){
           const data = { title: 'foo' };
           return await this.patchData(endpoint, data)
         },
         async getData(endpoint) {
           const url = `${this.baseurl}${endpoint}`;
           const response = await this.request('GET', url);
         },
         async postData(endpoint, data) {
           const url = `${this.baseurl}${endpoint}`;
           const response = await this.request('POST', url, data);
         },
         async patchData(endpoint, data) {
           const url = `${this.baseurl}${endpoint}`;
           const response = await this.request('PATCH', url, data);
         },
         async deleteData(endpoint) {
           const url = `${this.baseurl}${endpoint}`;
           const response = await this.request('DELETE', url);
         },
         async request(method, url, data = null) {
           this.debug = {
             method: method,
             endpoint: url,
             header: '',
             body: '',
             response: 'waiting...'
           }
           try {
             const options = {
               method,
               headers: {
                 'Content-Type': 'application/json'
               },
               body: data ? JSON.stringify(data) : null
             };
             this.debug.header = JSON.stringify(options.headers, null, 2)
             this.debug.body = JSON.stringify(options.body, null, 2)

             const response = await fetch(url, options);
             const json = await response.json();
             console.log(json);
             this.debug.response = JSON.stringify(json, null, 2)
             if (method === 'DELETE') {
               return 'Deleted successfully';
             } else {
               return json
             }
           } catch (error) {
             console.error(error);
             this.debug.response = JSON.stringify(error, null, 2)
           }
         },
       }
     });
     app.mount('#app');
    </script>
  </body>
</html>
